@model Production.HmtDental.Models.Background

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="right_col" role="main">
    <h1>Create</h1>

    <h4>Background</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form action="/Admin/Backgrounds/Create" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Hotline" class="control-label"></label>
                    <input asp-for="Hotline" class="form-control" />
                    <span asp-validation-for="Hotline" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Landline" class="control-label"></label>
                    <input asp-for="Landline" class="form-control" />
                    <span asp-validation-for="Landline" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Slogan" class="control-label"></label>
                    <input asp-for="Slogan" class="form-control" />
                    <span asp-validation-for="Slogan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>