@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="~/Login/images/img-01.png" alt="IMG">
            </div>

            <form class="login100-form validate-form" method="post" action="/Account/Register">
                <span class="login100-form-title">
                    Đăng ký tài khoản
                </span>
                <p> @ViewBag.Message</p>
                <div class="wrap-input100 validate-input" data-validate="Tên đăng nhập không được để trống">
                    <input class="input100" type="text" name="name" placeholder="Tên đăng nhập">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Mật khẩu không được để trống">
                    <input class="input100" type="password" name="pass" placeholder="Mật khẩu">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Mật khẩu không được để trống">
                    <input class="input100" type="password" name="repass" placeholder="Nhập lại mật khẩu">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Số điện thoại không được để trống">
                    <input class="input100" type="number" name="phone" placeholder="Số điện thoại">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Đăng ký
                    </button>
                </div>

                <div class="text-center p-t-12">
                    <span class="txt1">
                        Forgot
                    </span>
                    <a class="txt2" href="#">
                        Username / Password?
                    </a>
                </div>

                <div class="text-center p-t-136">
                    <a class="txt2" href="#">
                        Đăng nhập
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>